{% load static %}   

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4" style="background-color:#10c65c;">

    <!--Join us section-->
    <div class="container p-4 pb-0" style="background-color:white; color:black;">
      <!-- Section: CTA -->
      <section class=""> 
        <p class="d-flex justify-content-center align-items-center">
          Join our community
          <button type="button" class="btn btn-outline-light btn-rounded" style="color:black; border: 2px solid #10c65c;">
            Join Us 
          </button>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    
    
    <!-- Section: Links -->
    <br><br><br><section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
          <br><br><form action="">
            <!--Grid row-->
            
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <center><p class="pt-2">
                  <img src="{% static 'assets/images/icon.png' %}" alt="" width="30" height="30" alt="">
                  <br>GrowGreen.org
                  <br>Sign up for our newsletter
                </p></center>
              </div>
              
              <!--Grid column-->
    
              <!--Grid column-->
              <br><div class="col-md-5 col-12" style="margin-left: -250px;">
                <!-- Email input -->
                <br><br><div class="form-outline form-white mb-5">
                  <br><br><input type="email" placeholder="Email" id="form5Example21" class="form-control" />
                </div>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-auto" style="margin-top: -20px;margin-left: -40px;">
                <!-- Submit button -->
                <br><br><br><br><button type="submit" class="btn btn-outline-dark mb-4">
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-1 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <p>Connect With Us</p>
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          </section>

          <div class="col-auto" style="margin-top: -20px;">
            <center><p class="pt-2">
              <img src="{% static 'assets/images/icon.png' %}" alt="" width="30" height="30" alt="">
              GrowGreen.org
              
            </p></center>
          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color:white">
    © 2022 Copyright:
    <a class="text-white" href="">GrowGreen Web Application</a>
  </div>
  <!-- Copyright -->
</footer>