

  {% load static %}   

<nav class="  navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static './assets/images/icon_go.png' %}" alt="" width="140" height="30" alt=""  >
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'about' %}>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'plant_ui' %}">Plant Tree</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'contact' %}>Contact</a>
          </li>
          <header class="header ">
            
        
                {% if user.is_authenticated %}
                  <a class="btn btn-accent mr-3" href="{% url 'dashboard' %}">dashboard</a>
                  <a class="btn btn-accent " href="{% url 'logout' %}">signout</a>        
                
                {% else %}
                  <a class="btn btn-accent mr-3" href="{% url 'login' %}">Signin</a>
                  <a class="btn btn-accent " href="{% url 'register' %}">SignUp</a>
        
                {% endif %}
        
                
          </header>
        </ul>
      </div>
    </div>
  </nav>
 