{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h3>Contact Form</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name<br></label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname"><br>Last Name<br></label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country"><br>Country<br></label>
    <select id="country" name="country">
      <option value="None">None</option>
      <option value="India">India</option>
      <option value="Other">Other...</option>
    </select>

    <label for="subject"><br>Subject<br></label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <br><input type="submit" value="Submit">
  </form>
</div>

</body>