<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <title>GrowGreen - Tree Plantation Website</title>
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo">
                <img src="static/assets/images/icon.png" alt="logo">
                <span class="brand-name">GrowGreen</span>
            </div>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="">Plant Tree</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <div class="rightNav v-class-resp">
            <button class="btn btn-primary">Login/Signup</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="section">
        <div class="paras">
        <p class="sectionTag text-big">Plant your favourite tree</p>
        <p class="sectionSubTag text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam unde corporis rem praesentium, suscipit voluptatum asperiores, maxime omnis cum esse error minus amet ipsa facere in, voluptatibus excepturi recusandae eos. </p>
        </div>
        <!-- Bootstrap cards -->
        
    </section>

    <section class="section section-left" id="about">
        <div class="paras">
        <p class="sectionTag text-big">Who are we?</p>
        <p class="sectionSubTag text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis laboriosam pariatur cumque exercitationem quisquam quia dolore, soluta accusantium et eum, nam ad, expedita magnam eligendi corporis? Incidunt nisi fugit quisquam?
        Obcaecati necessitatibus dolore nostrum! Placeat harum eveniet veniam perferendis quia recusandae deserunt voluptates dicta unde sequi ducimus esse molestiae ratione nostrum cupiditate tempora illo voluptas quos amet, repudiandae aliquam quod!
        Dolores eaque qui iure earum dignissimos repellendus eveniet ratione nobis tempore ipsa possimus aliquid expedita optio odio ad quae perferendis nihil, provident vitae maiores voluptatibus. Deserunt voluptatib</p>
        </div>
    </section>

    <section class="section" id="services">
        <div class="paras">
        <p class="sectionTag text-big">Lets Grow Together</p>
        <p class="sectionSubTag text-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto fuga excepturi earum et dolores magnam provident ad ducimus minima molestiae voluptas velit officia maxime saepe doloremque totam, omnis possimus quod.</p>
        </div>
    </section>
     
    <section class="contact" id="contact">
        <h1 class="text-center">Contact Us</h1>
        <div class="form">
            <input class="form-input" type="text" name="name" id="name" placeholder="Enter Your name">
            <input class="form-input" type="text" name="phone" id="phone" placeholder="Enter Your Phone">
            <input class="form-input" type="email" name="email" id="email" placeholder="Enter Your email">
             <textarea class="form-input" name="text" id="text" cols="30" rows="10" placeholder="Ellaborate your concern"></textarea>
            <button class="btn btn-sm btn-dark">Submit</button>
        </div>
    </section>

    <footer class="background">
        <p class="text-footer">
            Copyright &copy; 2022 - Growgreen.org - All rights reserved
        </p>
    </footer>
    <script src="static/js/scripts.js"></script>

</body>

</html>