{% load static %}
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="{% static './css/test.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CodingLab</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">Product</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Order list</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Analytics</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favrorites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Setting</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Suraj Pisal</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Tree planted by User</div>
            <div class="number">40,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total cost</div>
            <div class="number">38,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total rewards</div>
            <div class="number">$12,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">additional</div>
            <div class="number">11,086</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Tree plantation record</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Date</li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
            </ul>
            <ul class="details">
            <li class="topic">User name</li>
            <li><a href="#">RASIKA</a></li>
            <li><a href="#">PRADNYA</a></li>
            <li><a href="#">KALPESH</a></li>
            <li><a href="#">SURAJ</a></li>
            <li><a href="#">AA</a></li>
            <li><a href="#">BB</a></li>
            <li><a href="#">CC</a></li>
            <li><a href="#">DD</a></li>
             <li><a href="#">EE</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Tree Name</li>
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
             <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Cost</li>
            <li><a href="#">$204.98</a></li>
            <li><a href="#">$24.55</a></li>
            <li><a href="#">$25.88</a></li>
            <li><a href="#">$170.66</a></li>
            <li><a href="#">$56.56</a></li>
            <li><a href="#">$44.95</a></li>
            <li><a href="#">$67.33</a></li>
             <li><a href="#">$23.53</a></li>
             <li><a href="#">$46.52</a></li>
          </ul>
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">top tree planted</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">A</span>
            </a>
            <span class="price">$1107</span>
          </li>
          <li>
            <a href="#">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">B </span>
            </a>
            <span class="price">$1567</span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">C</span>
            </a>
            <span class="price">$1234</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">D.</span>
            </a>
            <span class="price">$2312</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/blueBag.jpg" alt="">-->
              <span class="product">E</span>
            </a>
            <span class="price">$1456</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">F</span>
            </a>
            <span class="price">$2345</span>
          <li>
            <a href="#">
              <!--<img src="images/addidas.jpg" alt="">-->
              <span class="product">G</span>
            </a>
            <span class="price">$2345</span>
          </li>
<li>
            <a href="#">
             <!--<img src="images/shirt.jpg" alt="">-->
              <span class="product">H</span>
            </a>
            <span class="price">$1245</span>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>



#####333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333
base file code 
  <!--use of base html is content inside it is same for all-->
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- fontawesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

  <!-- animate cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- slick cdn -->
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <!-- Add the slick-theme.css if you want default styling -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
  <!-- bootstrap cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- custom css -->
  <link rel="stylesheet" href="{% static 'css/style.css ' %}">
  <link rel="stylesheet" href="{% static 'css/fruits.css' %}">

  <title>GrowGreen - Tree Plantation Website</title>
</head>

<body>
  <!-- header start-->

{% comment %}  
  {% include 'includes/header.html' %} {% endcomment %}

  <!--navbar-->
  {% include 'includes/navigation.html' %}

 
  {% comment %} {% include 'includes/header.html' %} {% endcomment %}

  <!--navbar-->

  {% comment %} {% include 'navigation.html' %} {% endcomment %}
  {% comment %} {% include 'includes/navbar.html' %}
  {% include  %}
   {% endcomment %}
  <!-- header end -->
  
 

{% block content %}
<div class="img_slider mx-0 col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
      
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"      aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10">
            <img class="d-block w-100 " width="300" height="630"  src="{% static './assets/images/tree1.png' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="brand-banner__header">
                <div>GROW GREEN</div>
               </h1>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10">
            <img class="d-block w-100" width="300" height="630" src="{% static './assets/images/tree2.png' %}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="brand-banner__header">
                <div>GROW GREEN</div>
               </h1>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10">
            <img class="d-block w-100 "width="300" height="630" src="{% static './assets/images/tree3.png' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="brand-banner__header">
                <div>GROW GREEN</div>
               </h1>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10">
            <img class="d-block w-100"width="300" height="630" src="{% static './assets/images/tree4.png' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="brand-banner__header">
                <div>GROW GREEN</div>
               </h1>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="10">
            <img class="d-block w-100" width="300" height="630" src="{% static './assets/images/tree3.png' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="brand-banner__header">
                <div>GROW GREEN</div>
               </h1>
            </div>
          </div>
        </div> 
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
      
     </div> 

</div>
{% endblock content %}
   
<div class="news">
  <p>PLANT YOUR FAVOURITE PROJECT</p>
  <hr>
</div>

<!-- flexbox -->
<div class="flexcontainer">

 <div class="row">
   <div class="card">
     <img src= "{% static 'images/amla.webp' %} " alt="Avatar" style="width:100%">
     
       <h3>Amla</h3>
       <hr>
     <div class="card-body">
       <p>
         Hurray Amla! Now you can slow down ageing with Amla
       </p>
       <a onclick="togglePopup()" id = "plantbtn" href="#" class="btn">PLANT NOW</a>
     </div>
   </div>
   <div class="card">
     <img id ="guava" src= "{% static 'images/guava.jpg' %} " alt="Avatar" style="width:100% ">

       <h3>Guava</h3>
       <hr>
     <div class="card-body">
       <p>
         Guava have an all-rounder health beneficial tree.
       </p>
       <a onclick="togglePopup()" id = "plantbtn" href="#" class="btn">PLANT NOW</a>
     </div>
   </div>
   <div class="card">
     <img id ="guava" src= "{% static 'images/peepal.jpg' %} " alt="Avatar" style="width:100%">

       <h3>Peepal</h3>
       <hr>
     <div class="card-body">
       <p>
         To all the Cancer borns,plant a Peepal and rejoice holy blessings.
       </p>
       <a onclick="togglePopup()" id = "plantbtn" href="#" class="btn">PLANT NOW</a>
     </div>
   </div>
   <div class="card">
     <img id ="reetha" src= "{% static 'images/reetha.jpeg' %} " alt="Avatar" style="width:100% ">

       <h3>Reetha</h3>
       <hr>
     <div class="card-body">
       <p>
         Is there any Virgo tired of hair issues? Here’s a natural remedy
       </p>
       <a  onclick="togglePopup()" id = "plantbtn" href="#" class="btn">PLANT NOW</a>
     </div>
   </div>
 </div>
</div>

<!-- POP UP -->
{% if user.is_authenticated %}
      <h1>Tree planted succesully</h1>
{% else %}



<div class="popup" id="popup-1">
      <div class="overlay"></div>
      <div class="content">
          <div class="close-btn" onclick="togglePopup()">&times;</div>
          <h1 id="success">LOGIN FORM</h1>
        <form>
          <div class="form-group">
            <label id = "emailID" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           </div>
          <div  class="form-group">
            <label id = "pass" for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          
          <button id ="btnsubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class ="wrap-flex"><div>Not a member?</div> 
         
      <a id="signup" href=""></a> SignUp Now</div>
        
      </div>
    </div>

{% endif %}









<div class="news">
   <p>PLANT YOUR TREE WITH EASY STEPS</p>
  <hr>
</div>
<div class="steps">
  <img src= "{% static 'images/treeplant.jpg' %} " alt="">
</div>

  <!-- footer -->
  
  {% include 'includes/footer.html' %}
  
  <!-- footer ends -->

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/popup.js' %}"></script>
  {% comment %} <script src="{% static 'js/popup.js' %}"></script> {% endcomment %}
 

  <!-- scripts -->

</body>

</html>

{% comment %} login poppup  {% endcomment %}

   
<style>

.popup .overlay{
position: fixed;
top:0px;
width: 300vw;
height: 800vh;
background-color: rgb(220, 220, 220);
z-index: 1;
display: none;
}

.popup .content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
background-color: rgb(255, 255, 255);
width: 350px;
height: 380px;
z-index: 2;
 padding: 20px;
box-sizing: border-box;
}

.popup .close-btn{
position: absolute;
right: 20px;
top: 20px;
width: 20px;
height: 20px;
background-color: #222;
color: #fff;
font-size: 20px;
font-weight: 500;
line-height: 16px;
text-align: center;
border-radius: 50%;
}


.popup.active .overlay{
display: block;
}
.popup.active .content{
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
box-shadow: 0 0 45px 0 rgba(20, 27, 202, .17);
border-radius: 4%;
}
#success{
text-align: center;
font-weight: 700;
margin-bottom: 25px;
margin-top: 15px;
font-size: 25px;
}
#placed{
text-align: center;
font-weight: 600;
font-size: 21px;
 
}
.wrap-flex { display: flex; }
.wrap-flex { 
  margin-left: 40px;
  margin-top: 20px;
  font-weight: 500;

 }
#signup{
  margin-left: 10px;
   
 }
#emailID{
  font-weight: 500;
font-size: 18px;
}
#pass{
  font-weight: 500;
font-size: 18px;
}

#btnsubmit{
  margin-left: 15px;
  margin-top: 10px;
  width: 280px;
  background: linear-gradient(to right, #57f3f5 ,#b117f8, #770ca8);


}

</style>