{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
  <h3>Member 1 : Rasika Ghadge</h3>
  <h3>Member 2 : Pradnya Barve</h3>
  <h3>Member 3 : Kalpesh Pawar</h3>
  <h3>Member 4 : Suraj Pisal</h3>
  <br> 
  <br> 
  <h3>Our Mission : </h3>
  <h3>We are on the mission to create a healthy,<br> green and clean planet through tree plantation. <br> 

To engage students, youth and women in <br> organized tree planting.

To train about 1000 tree partners as volunteers<br>  by 2025.

To promote the continuous planting of trees.<br> 
</h3>
{% endblock content %}